{% extends "::layout.html.twig" %}

{% block image %}
    <img src="{{ asset('images/pyramide2.jpg') }}" id="banniere">
{% endblock %}

{% block etape %}{{ 'confirmation'|trans }}{% endblock %}

{% block contenu %}
    <div class="row">
        <p class="row center">
            <i class="center-align large material-icons light-blue-text">check_circle</i>
        <h3 class="center-align">{{ 'confirm.titre'|trans }}</h3>
        <p class="center-align">{{ 'confirm.message1'|trans }}.<br>
            {{ 'confirm.message2'|trans }} <strong>{{ booking.email }}</strong>.<br>
            {{ 'confirm.message3'|trans }} : <strong>{{ booking.code }}</strong>.
        </p>
        <h3 class="center-align">{{ 'confirm.recapitulatif'|trans }} :</h3>
        <div class="recapitulatif">
            <table class="highlight centered responsive-table">
                <thead>
                <tr>
                    <th>{{ 'confirm.visiteur'|trans }}</th>
                    <th>{{ 'confirm.prix'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for ticket in tickets %}
                    <tr>
                        <td>{{ ticket.nom }} {{ ticket.prenom }}</td>

                        <td>{{ ticket.prix }} €</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <p class="center-align">
                <strong>{{ 'step3.nombre.total.billet'|trans }} :</strong> {{ booking.nbTicket }}<br>
                <strong>{{ 'step3.prix.total'|trans }} :</strong> {{ total }} €<br>
                <strong>{{ 'step1.date.visite'|trans }} :</strong> {{ booking.dateVisit|date("d/m/Y") }}<br>
                <strong>{{ 'step1.type.billet'|trans }} :</strong>
                {% if booking.type == 1 %}
                    {{ 'step1.journee'|trans }}
                {% elseif booking.type == 2 %}
                    {{ 'step1.demi.journee'|trans }}
                {% endif %}<br>
                {{ 'index.tarif.message'|trans }}
            </p>
        </div>
    </div>
{% endblock %}

