{% extends "::layout.html.twig" %}

{% block breadcrumbs %}
    <nav>
        <div class="nav-wrapper light-blue">
            <div class="col s12">
                <a href="{{ '' }}" class="breadcrumb">Accueil</a>
                <a href="{{ 'order' }}" class="breadcrumb">Commander</a>
                <a href="#" class="breadcrumb">Coordonnés</a>
            </div>
        </div>
    </nav>
{% endblock %}
{% block image %}
    <img src="{{ asset('images/pyramide.jpg') }}" id="banniere">
{% endblock %}

{% block etape %}Coordonnées{% endblock %}
{% block contenu %}
    {{ form_start(form) }}
    {{ form(form) }}


    <input type="submit" value="commander">
    {{ form_end(form) }}
{% endblock %}

{% block datepicker %}
    <script src="{{ asset('js/datepickerBirth.js') }}"></script>
{% endblock %}