{% extends "::layout.html.twig" %}
{% block title %} Acccueil - {{ parent() }} {% endblock %}

{% block breadcrumbs %}
    <nav>
        <div class="nav-wrapper light-blue">
            <div class="col s12">
                <a href="{{ 'homepage' }}" class="breadcrumb">Accueil</a>
                <a href="#" class="breadcrumb">Commander</a>
            </div>
        </div>
    </nav>
{% endblock %}


{% block image %}
    <img src="{{ asset('images/pyramide.jpg') }}" id="banniere">
{% endblock %}

{% block etape %}Commander{% endblock %}

{% block contenu %}
    {{ form_start(form) }}
        {{ form(form) }}


        <input type="submit" value="commander">
    {{ form_end(form) }}
    <div class="row">
            <div class="row center">
                <a class="waves-effect waves-light btn amber accent-4" href="{{ path('step2') }}">Suivant</a>
            </div>
        </form>
    </div>
{% endblock %}

{% block datepicker %}
    <script src="{{ asset('js/datepickerDay.js') }}"></script>
{% endblock %}
