{% extends "::layout.html.twig" %}

{% block breadcrumbs %}
    <nav>
        <div class="nav-wrapper light-blue">
            <div class="col s12">
                <a href="{{ path('homepage') }}" class="breadcrumb">{{ 'accueil'|trans }}</a>
                <a href="{{ path('step1') }}" class="breadcrumb">{{ 'commander'|trans }}</a>
                <a href="{{ path('step2') }}" class="breadcrumb">{{ 'coordonnee'|trans }}</a>
                <a href="#" class="breadcrumb">{{ 'paiement'|trans }}</a>
            </div>
        </div>
    </nav>
{% endblock %}

{% block image %}
    <img src="" id="banniere">
{% endblock %}


{% block contenu %}
    <div class="row">
        <div class="col s12">
            <div class="row center">
                <h2>{{ 'step3.titre'|trans }}</h2>
                <div>
                    <p>{{ 'step1.date.visite'|trans }} : {{ booking.dateVisit|date("d/m/Y") }}</p>
                    <p>{{ 'step1.type.billet'|trans }} :
                        {% if booking.type == 1 %}
                            {{ 'step1.journee'|trans }}
                        {% elseif booking.type == 2 %}
                            {{ 'step1.demi.journee'|trans }}
                        {% endif %}
                    </p>
                </div>

                <table class="highlight centered responsive-table">
                    <thead>
                    <tr>
                        <th>{{ 'ticket.nom'|trans }}</th>
                        <th>{{ 'ticket.prenom'|trans }}</th>
                        <th>{{ 'ticket.reduit'|trans }}</th>
                        <th>{{ 'prix'|trans }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for ticket in tickets %}
                        <tr>
                            <td>{{ ticket.nom }}</td>
                            <td>{{ ticket.prenom }}</td>
                            <td>{% if ticket.reduit == true %}
                                    {{ 'oui'|trans }}
                                {% elseif ticket.reduit == false %}
                                    {{ 'non'|trans }}
                                {% endif %}</td>
                            <td>{{ ticket.prix }} €</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="3"></td>
                        <td class="center">{{ 'step3.nombre.total.billet'|trans }} : {{ booking.nbTicket }}</td>

                    </tr>
                    <tr>
                        <td colspan="3"></td>
                        <td class="center">{{ 'step3.prix.total'|trans }} : {{ total }} €</td>
                    </tr>
                    </tfoot>
                </table>
                <h2>{{ 'paiement'|trans }}</h2>
                <form action="" method="POST">
                    <script
                            src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                            data-label="{{ 'step3.boutton'|trans }}"
                            data-key="{{ stripe_public_key }}"
                            data-amount="{{ total * 100 }}"
                            data-email="{{ booking.getEmail }}"
                            data-name="{{ 'paiement'|trans }}"
                            data-description="{{ 'step3.paiement.nom'|trans }}"
                            data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                            data-locale="auto"
                            data-zip-code="false"
                            data-currency="eur">
                    </script>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
