{% extends "::layout.html.twig" %}

{% block breadcrumbs %}
    <nav>
        <div class="nav-wrapper light-blue">
            <div class="col s12">
                <a href="{{ path('homepage') }}" class="breadcrumb">{{ 'accueil'|trans }}</a>
                <a href="{{ path('step1') }}" class="breadcrumb">{{ 'commander'|trans }}</a>
                <a href="#" class="breadcrumb">{{ 'coordonnee'|trans }}</a>
            </div>
        </div>
    </nav>
{% endblock %}
{% block image %}
    <img src="" id="banniere">
{% endblock %}

{% block contenu %}
    {{ form_start(form) }}
    {{ form_label(form.tickets) }}
        {{ form_errors(form) }}
        <ul>
            {% for ticketField in form.tickets %}
                <li>
                    {{ form_errors(ticketField) }}
                    {{ form_widget(ticketField) }}
                </li>
            {% endfor %}
        </ul>
    <div class="row center">
        {{ form_row(form.continuer, {'attr': {'class' : 'waves-effect waves-light btn amber accent-4'}}) }}
    </div>
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% if path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) == '/Louvre/web/app_dev.php/fr/step2' %}
        <script src="{{ asset('js/datepickerBirth_fr.js') }}"></script>
    {% elseif path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) == '/Louvre/web/app_dev.php/en/step2' %}
        <script src="{{ asset('js/datepickerBirth_en.js') }}"></script>
    {% endif %}
{% endblock %}
