{% extends "::layout.html.twig" %}
{% block title %} {{ 'accueil'|trans }} - {{ parent() }} {% endblock %}

{% block breadcrumbs %}
    <nav>
        <div class="nav-wrapper light-blue">
            <div class="col s12">
                <a href="{{ path('homepage') }}" class="breadcrumb">{{ 'accueil'|trans }}</a>
                <a href="#" class="breadcrumb">{{ 'commander'|trans }}</a>
            </div>
        </div>
    </nav>
{% endblock %}


{% block image %}
    <img src="" id="banniere">
{% endblock %}

{% block contenu %}
    {{ form_start(form) }}
    {{ form_errors(form) }}
        {{ form_row(form.nbTicket,{'label': 'step1.nombre.billet'}) }}
        {{ form_row(form.email, {'label': 'step1.email'}) }}
        {{ form_row(form.dateVisit, {'label': 'step1.date.visite'}) }}
        {{ form_row(form.type, {'label': 'step1.type.billet'}) }}
    <div class="row center">
        {{ form_row(form.continuer, {'attr': {'class' : 'waves-effect waves-light btn amber accent-4'}}) }}
    </div>
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/datepickerDay.js') }}"></script>
{% endblock %}

