{% extends "::layout.html.twig" %}
{% block title %} Acccueil - {{ parent() }} {% endblock %}

{% block breadcrumbs %}
    <nav>
        <div class="nav-wrapper light-blue">
            <div class="col s12">
                <a href="{{ path('homepage') }}" class="breadcrumb">Accueil</a>
                <a href="#" class="breadcrumb">Commander</a>
            </div>
        </div>
    </nav>
{% endblock %}


{% block image %}
    <img src="{{ asset('images/pyramide2.jpg') }}" id="banniere">
{% endblock %}

{% block etape %}Commander{% endblock %}

{% block contenu %}
    {{ form_start(form) }}
    {{ form_errors(form) }}
        {{ form_row(form.nbTicket,{'label': 'Nombre de billet'}) }}
        {{ form_row(form.email, {'label': 'Email'}) }}
        {{ form_row(form.dateVisit, {'label': 'Date de visite'}) }}
        {{ form_row(form.type, {'label': 'Type de billet'}) }}
    <div class="row center">
        {{ form_row(form.continuer, {'attr': {'class' : 'waves-effect waves-light btn amber accent-4'}}) }}
    </div>
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/datepickerDay.js') }}"></script>
{% endblock %}
