{% extends "::layout.html.twig" %}
{% block title %} Acccueil - {{ parent() }} {% endblock %}

{% block breadcrumbs %}
    <nav>
        <div class="nav-wrapper light-blue">
            <div class="col s12">
                <a href="{{ 'homepage' }}" class="breadcrumb">Accueil</a>
                <a href="#" class="breadcrumb">Commander</a>
            </div>
        </div>
    </nav>
{% endblock %}


{% block image %}
    <img src="{{ asset('images/pyramide3.jpg') }}" id="banniere">
{% endblock %}

{% block etape %}Commander{% endblock %}

{% block contenu %}
    {{ form(form) }}
    <div class="row">
        <form class="col s12" >
            <div class="row center" >
                <div class="input-field col s6 push-s3">
                    Jour de visite :
                    <input type="text" class="datepicker" id="jourVisite" required/>
                </div>
            </div>
            <div class="row center">
                <div class="input-field col s6 push-s3">
                    Nombre de billet :
                    <input type="number" id="nombreBillet"/>
                </div>
            </div>

            <div class="row center">
                <p class="row center">Type de billet:
                    <input name="typeBillet" type="radio" id="journee"/>
                    <label for="journee">Journée</label>
                    <input name="typeBillet" type="radio" id="demiJournee"/>
                    <label for="demiJournee">Demi journée</label>
                </p>
            </div>
            <div class="row center">
                <div class="input-field col s6 push-s3">
                    Email :
                    <input id="email" type="email" class="validate">
                </div>
            </div>
            <div class="row center">
                <a class="waves-effect waves-light btn amber accent-4" href="{{ path('coordonne') }}">Suivant</a>
            </div>
        </form>
    </div>
{% endblock %}
