<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
</head>
<h3>Commande effectuée</h3>
<div id="logo">
    <img src="{{ absolute_url(asset('images/logo.png')) }}">
    <p>Musée du Louvre</p>
</div>

<p>
    Merci pour votre achat, voici le récapitulatif de votre commande : <br>
    <b>Email lié à la commande</b> : {{ booking.email }}<br>

    <b>Type de billet</b> :{{ booking.type }}<br>

    <b>Date de visite</b> : {{ booking.dateVisit|date("d/m/Y") }}<br>

    <b>Nombre de billets acheté</b> : {{ booking.nbTicket }}<br>

</p>
</html>
