<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
</head>
<h3>Commande effectuée</h3>
<br>
<p>
    Merci pour votre achat, voici le récapitulatif de votre commande : <br>
    <strong>Email lié à la commande</strong> : {{ booking.email }}<br>

    <strong>Type de billet</strong> :
    {% if booking.type == 1 %}
    Billet journée
    {% elseif booking.type == 2 %}
    Billet Demi journée
    {% endif %}<br>

    <strong>Date de visite</strong> : {{ booking.dateVisit|date("d/m/Y") }}<br>

    <strong>Nombre de billets acheté</strong> : {{ booking.nbTicket }}<br>
    <strong>Code de réservation :</strong> : {{ booking.code }}<br>
    <strong>Visiteurs :</strong>
</p>
<ul>
    {% for ticket in tickets %}
        <li>{{ ticket.nom }} {{ ticket.prenom }} {{ ticket.prix }}€</li>
    {% endfor %}
</ul>
<p>
    <strong>Prix total :</strong> {{ total }}<br>
</p>
<p>En vous souhaitant une très bonne visite.</p>
<p>L'équipe du Musée du Louvre</p>
<div id="logo"><img src="{{ absolute_url(asset('images/logo.png')) }}">
</div>
</html>
