{% extends "::layout.html.twig" %}

{% block title %}
    Mentions légales - {{ parent() }}
{% endblock %}

{% block contenu %}
    <h2>{{ 'mentions.titre.principal'|trans }}</h2>
    <h3>{{ 'mentions.titre.website'|trans }}</h3>
    <p>{{ 'mentions.website.message1'|trans }} <strong>{{ 'mentions.website.fictif'|trans }}</strong>. {{ 'mentions.website.message2'|trans }} .<br>
        {{ 'mentions.website.message3'|trans }}<br>

        {{ 'mentions.website.dev'|trans }} : Alice Wong<br />
        {{ 'mentions.website.image'|trans }} : Pixabay<br />
        {{ 'mentions.website.licence'|trans }} : Creative Commons 0.<br>
    </p>
    <h3>{{ 'mentions.titre.data'|trans }}</h3>
    <p>{{ 'mentions.data.message1'|trans }}<strong>{{ 'mentions.data.message2'|trans }}</strong><br>
        {{ 'mentions.data.message3'|trans }} : <strong>{{ 'mentions.data.message4'|trans }}.</strong><br>
        {{ 'mentions.data.message5'|trans }} : <strong>{{ 'mentions.data.message6'|trans }}</strong></p>
    <p>{{ 'mentions.data.message7'|trans }} <a href="/fr/loi-78-17-du-6-janvier-1978-modifiee">{{ 'mentions.data.message8'|trans }}</a>, {{ 'mentions.data.message9'|trans }}
        <a href="/fr/le-droit-dacces"> {{ 'mentions.data.message10'|trans }}</a> {{ 'mentions.data.message11'|trans }} <a href="/fr/le-droit-de-rectification">
            {{ 'mentions.data.message12'|trans }}</a> {{ 'mentions.data.message13'|trans }}. </p>
    <p>{{ 'mentions.data.message14'|trans }}<br>
    <p>{{ 'mentions.data.message15'|trans }} <a href="/fr/le-droit-dopposition">{{ 'mentions.data.message16'|trans }}</a>.</p>
    <p>{{ 'mentions.data.message17'|trans }}, <a href="/fr/comprendre-vos-droits">{{ 'mentions.data.message18'|trans }}</a>.</p>
{% endblock %}
